{% load staticfiles %}

<!DOCTYPE html>

<html>

	<head>
		<title>Form Statusku</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/statusku.css' %}">
	</head>

	<body>

        <div class="content container" id="form">
            <div class="row">
                <div class="col-md-8">
                    <h1 id="id_title">Hello, apa kabar?</h1>
    				<form method="POST" class="post-form">{% csrf_token %}
        				{{ form.as_p }}
        				<button type="submit" class="save btn btn-success" id="id_button">Save</button>
    				</form>
                </div>
            </div>
        </div>

        {% for i in status %}
        <div class="media">
		    <div class="media-body">
		      <p>{{ i.status }}</p>
		      <small><i>Posted in {{ i.dateTime }}</i></small>
		    </div>
		</div>
		<hr>
		{% endfor %}
		
	</body>
	
</html>	