{% load staticfiles %}
<html>
	
	<head>
		<title>
			Ardian Ghifari - A passionate student
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'Ardian Ghifari.css' %}">
	</head>

	<body id="main-page">
		
		<div>
			<img src="{% static 'wallpaper.png' %}" class="big-rectangle" id="rectangle1">
			<p class="text" id="nama">Ardian Ghifari</p>
			<p class="text" id="desc1">A passionate student</p>
			<p class="text" id="desc2">Not an ordinary outlier</p>
			<p class="text" id="desc3">Love to learn and learn to love everything related to data</p>
		</div>

		<div>
			<img class="small-rectangle" id="rectangle2">
			<h2 class="h2-text" id="about">About</h2>
			<p class="text" id="about-paragraph">
				<b>Ardian Ghifari</b> <br>
				I am a student of Computer Science major of Universitas Indonesia. I am not an expert yet in data science, I am still learning everything related to data. I am very interested in seeking certification, internship, and project.
			</p>
		</div>

		<div>
			<img src="{% static 'wallpaper2.png' %}" class="big-rectangle" id="rectangle3">
			<h2 class="h2-text" id="experience">Experience</h2>
			<p class="text" id="experience-paragraph">
				2014 - 2015 Staff of OSIS SMAN 5 Bekasi <br>
				2015 Staff of Equipment FiveCup SMAN 5 Bekasi <br>
				2015 Secretary of Idul Adha in SMAN 5 Bekasi <br>
				2015 - 2016 Secretary of ICT SMAN 5 Bekasi <br>
				2016 PIC of Short Movie Competition in STC SMAN 5 Bekasi <br>
				2018 Staff of FUKI Fasilkom UI <br>
				2018 Staff of Data Science Academy CompFest X
			</p>
		</div>

		<div>
			<img class="small-rectangle" id="rectangle4">
			<h2 class="h2-text" id="skill">Skill</h2>
			<p class="text" id="skill-paragraph">
				English language <br>
				Python <br>
				Java <br>
				Cmap <br>
				Microsoft Excel
			</p>
		</div>

		<div>
			<img src="{% static 'wallpaper 3.jfif' %}" class="big-rectangle" id="rectangle5">
			<h2 class="h2-text" id="education">Education</h2>
			<p class="text" id="education-paragraph">
				2014 - 2017 SMAN 5 Bekasi <br>
				2014 - 2017 LBPP LIA (English Course) <br>
				2017 - Universitas Indonesia
			</p>
		</div>

		<div>
			<img id="rectangle6">
			<p class="text" id="contact">Contact me</p>
			<img src="{% static 'phone.png' %}" class="contact-box" id="phone">
			<p class="text" id="phone-num">+62 858 1191 6028</p>
			<a href="mailto:ardianghi@gmail.com">
				<img src="{% static 'email.png' %}" class="contact-box" id="email">
			</a>
			<a href="http://line.me/ti/p/~ardianghifari">
				<img src="{% static 'line.png' %}" class="contact-box" id="line">
			</a>
			<a href="https://www.instagram.com/ardianghifari/">
				<img src="{% static 'instagram.png' %}" class="contact-box" id="instagram">
			</a>
		</div>

	</body>

</html>